:host {
    display: block;
    width: 100%;
    height: 100%;
}

.graph-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #1a1a2e;
    background-image:
        radial-gradient(circle, #ffffff08 1px, transparent 1px);
    background-size: 24px 24px;
}

svg {
    width: 100%;
    height: 100%;
}